Test/Core.API.Services.Test/Service References/DocSvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.API.DocumentSvc.Entity" />
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentNotesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="NoteText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoteDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.API.DocumentSvc.Entity" minOccurs="0" name="SaveCommentResult" nillable="true" type="q1:RetMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="ActionLevel" type="xs:int" />
        <xs:element minOccurs="0" name="RejectLevel" type="xs:int" />
        <xs:element minOccurs="0" name="RejectReason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RejectDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="ApproveLevel" type="xs:int" />
        <xs:element minOccurs="0" name="DeleteReason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="APHoldDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="ApproveLevel" type="xs:int" />
        <xs:element minOccurs="0" name="APHoldReason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="APHold" type="xs:boolean" />
        <xs:element minOccurs="0" name="APHoldDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="APHoldDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APHoldDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoldDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="ApproveLevel" type="xs:int" />
        <xs:element minOccurs="0" name="HoldReason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HoldDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoldDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoldDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentBinary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentBinaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentBinaryResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentBinary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentBinary" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentBinaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDocumentBinaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.API.DocumentSvc.Entity" minOccurs="0" name="Doc" nillable="true" type="q2:DocumentEnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAnnotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAnnotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.API.DocumentSvc.Entity" minOccurs="0" name="GetDocumentAnnotationResult" nillable="true" type="q3:AnnotationDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentAnnotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.API.DocumentSvc.Entity" minOccurs="0" name="Annotation" nillable="true" type="q4:AnnotationDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentAnnotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDocumentAnnotationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>