Test/Core.API.Services.Test/Service References/DocSvc/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Document" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDocument_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.API.DocumentSvc.Entity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocument_GetDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentNotes" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_SaveComment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComment" />
  </wsdl:message>
  <wsdl:message name="IDocument_SaveComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_RejectDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectDocument" />
  </wsdl:message>
  <wsdl:message name="IDocument_RejectDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="IDocument_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_APHoldDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:APHoldDocument" />
  </wsdl:message>
  <wsdl:message name="IDocument_APHoldDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:APHoldDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_HoldDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:HoldDocument" />
  </wsdl:message>
  <wsdl:message name="IDocument_HoldDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:HoldDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentBinary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentBinary" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentBinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_SaveDocumentBinary_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentBinary" />
  </wsdl:message>
  <wsdl:message name="IDocument_SaveDocumentBinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_SaveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocument" />
  </wsdl:message>
  <wsdl:message name="IDocument_SaveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_ApproveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveDocument" />
  </wsdl:message>
  <wsdl:message name="IDocument_ApproveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentAnnotation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentAnnotation" />
  </wsdl:message>
  <wsdl:message name="IDocument_GetDocumentAnnotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentAnnotationResponse" />
  </wsdl:message>
  <wsdl:message name="IDocument_SaveDocumentAnnotation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentAnnotation" />
  </wsdl:message>
  <wsdl:message name="IDocument_SaveDocumentAnnotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentAnnotationResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocument">
    <wsdl:operation name="GetDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/GetDocument" message="tns:IDocument_GetDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/GetDocumentResponse" message="tns:IDocument_GetDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/GetDocuments" message="tns:IDocument_GetDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/GetDocumentsResponse" message="tns:IDocument_GetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/GetDocumentNotes" message="tns:IDocument_GetDocumentNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/GetDocumentNotesResponse" message="tns:IDocument_GetDocumentNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/SaveComment" message="tns:IDocument_SaveComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/SaveCommentResponse" message="tns:IDocument_SaveComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/RejectDocument" message="tns:IDocument_RejectDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/RejectDocumentResponse" message="tns:IDocument_RejectDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/DeleteDocument" message="tns:IDocument_DeleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/DeleteDocumentResponse" message="tns:IDocument_DeleteDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APHoldDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/APHoldDocument" message="tns:IDocument_APHoldDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/APHoldDocumentResponse" message="tns:IDocument_APHoldDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoldDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/HoldDocument" message="tns:IDocument_HoldDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/HoldDocumentResponse" message="tns:IDocument_HoldDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentBinary">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/GetDocumentBinary" message="tns:IDocument_GetDocumentBinary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/GetDocumentBinaryResponse" message="tns:IDocument_GetDocumentBinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentBinary">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/SaveDocumentBinary" message="tns:IDocument_SaveDocumentBinary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/SaveDocumentBinaryResponse" message="tns:IDocument_SaveDocumentBinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/SaveDocument" message="tns:IDocument_SaveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/SaveDocumentResponse" message="tns:IDocument_SaveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/ApproveDocument" message="tns:IDocument_ApproveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/ApproveDocumentResponse" message="tns:IDocument_ApproveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentAnnotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/GetDocumentAnnotation" message="tns:IDocument_GetDocumentAnnotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/GetDocumentAnnotationResponse" message="tns:IDocument_GetDocumentAnnotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentAnnotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocument/SaveDocumentAnnotation" message="tns:IDocument_SaveDocumentAnnotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocument/SaveDocumentAnnotationResponse" message="tns:IDocument_SaveDocumentAnnotation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDocument" type="tns:IDocument">
    <wsp:PolicyReference URI="#NetTcpBinding_IDocument_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocument/GetDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <soap12:operation soapAction="http://tempuri.org/IDocument/GetDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentNotes">
      <soap12:operation soapAction="http://tempuri.org/IDocument/GetDocumentNotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComment">
      <soap12:operation soapAction="http://tempuri.org/IDocument/SaveComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocument/RejectDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocument/DeleteDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APHoldDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocument/APHoldDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoldDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocument/HoldDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentBinary">
      <soap12:operation soapAction="http://tempuri.org/IDocument/GetDocumentBinary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentBinary">
      <soap12:operation soapAction="http://tempuri.org/IDocument/SaveDocumentBinary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocument/SaveDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveDocument">
      <soap12:operation soapAction="http://tempuri.org/IDocument/ApproveDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentAnnotation">
      <soap12:operation soapAction="http://tempuri.org/IDocument/GetDocumentAnnotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentAnnotation">
      <soap12:operation soapAction="http://tempuri.org/IDocument/SaveDocumentAnnotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Document">
    <wsdl:port name="NetTcpBinding_IDocument" binding="tns:NetTcpBinding_IDocument">
      <soap12:address location="net.tcp://localhost:9008/CoreAPIDocumentSvc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9008/CoreAPIDocumentSvc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>